.success-message {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;

  min-width: 280px;
  background-color: var(--color-green-darker);
  border-radius: 10px;
  color: #fff;

  padding: 14px;
  margin: 0 auto;

  @include respond(lg) {
    min-width: 450px;
    padding: 24px;

    top: 0;
    bottom: auto;
    transform: translateX(-50%);
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    font-size: 20px;
    letter-spacing: -0.6px;

    img {
      margin-right: 10px;
    }
  }
}

.success-message.show {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  z-index: 1;
  @include respond(lg) {
    transform: translateX(-50%) translateY(-100%);
  }
}
